<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" xmlns:fb="http://www.facebook.com/2008/fbml"
  xmlns:og="http://opengraphprotocol.org/schema/"
  xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
  <head>
    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.image }}{% endif %}" />
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" href="http://blog.jcorioland.io/feed.xml" type="application/rss+xml" 
    title="RSS Feed for blog.jcorioland.io" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/" title="{{ site.title }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <p>
        <a href="https://twitter.com/jcorioland" title="Follow me on Twitter"><img src="/assets/images/twitter.png" alt="Twitter" /></a>
        <a href="https://github.com/jcorioland" title="GitHub"><img src="/assets/images/github.png" alt="GitHub" /></a>
        <a href="https://www.linkedin.com/in/juliencorioland/" title="Linked In"><img src="/assets/images/linkedin.png" alt="Linked In" /></a>
      </p>
    </section>

    <section class="main-content">
      <span><a href="{{site.baseurl}}/" alt="Home">Home</a> - <a href="{{site.baseurl}}/about/" alt="About me">About me</a> - <a href="{{site.baseurl}}/categories/" alt="Browse by categories">Browse by categories</a></span>
      <hr />
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-credits">&copy; Julien Corioland - Hosted on <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </section>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e7ebee6383c8370"></script> 
  </body>
</html>